.u-clickable {
  cursor: pointer;
}
.u-d_flex {
  display: flex;
}
.u-d_flex--between {
  display: flex;
  justify-content: space-between;
}
.u-d_flex--v_center {
  display: flex;
  align-items: center;
}
.u-d_flex--h_between {
  display: flex;
  justify-content: space-between;
}

// margin
@for $i from 1 through 20 {
  .u-margin_top--#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
  .u-margin_left--#{$i * 5} {
    margin-left: #{$i * 5}px;
  }
  .u-margin--#{$i * 5} {
    margin: #{$i * 5}px;
  }
}
.u-margin_top--auto {
  margin-top: auto;
}
.u-margin_left--auto {
  margin-left: auto;
}
.u-margin--auto {
  margin: auto;
}
.u-horizontal--center {
  text-align: center;
  margin: 0 auto;
}

// color
.u-color--red {
  color: red;
}
// text-align
.u-text_align--right {
  text-align: right;
}
